<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spring MVC + Hibernate</title>
</head>
<body>

<h1>Пользователи</h1>

<a th:href="@{/user_info}">
    <button>Добавить пользователя</button>
</a>
<br>
<br>
<br>

<div class="users">
    <table style="text-align: center; border-collapse: collapse; border: 1px solid black; font-size: 20px">
        <tr style="background: dodgerblue">
            <th style="border: 1px solid black">Name</th>
            <th style="border: 1px solid black">Lastname</th>
            <th style="border: 1px solid black">Age</th>
            <th style="border: 1px solid black">Operations</th>
        </tr>
        <tr th:each="user : ${users}">
            <td th:text="${user.name}" style="border: 1px solid black"></td>
            <td th:text="${user.lastName}" style="border: 1px solid black"></td>
            <td th:text="${user.age}" style="border: 1px solid black"></td>
            <td style="border: 1px solid black">
                <form style="display: inline-block" th:action="@{/update_user}" th:method="GET">
                    <input type="hidden" th:name="userId" th:value="${user.id}"/>
                    <input type="submit" value="Изменить">
                </form>
                <form style="display: inline-block" th:action="@{/delete_user}" th:method="DELETE">
                    <input type="hidden" th:name="userId" th:value="${user.id}"/>
                    <input type="submit" value="Удалить">
                </form>
            </td>
        </tr>
    </table>
</div>

</body>
</html>